* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    height: 50vh;
    width: 90vw;
    flex-direction: column;
    padding: 0 2rem 0;
    margin: 0 auto 1rem;
    border-radius: 1.3rem;
    background-color: rgba(255, 255, 255, .75);
    display: flex;    
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}

.content-scroll {
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    margin: 1rem auto;

}

@media screen and (min-height: 510px) {
  .content {
    height: 55vh;
  }
}


@media screen and (min-height: 700px) {
    .content {
        height: 65vh;
    }
}

@media screen and (min-height: 900px) {
    .content {
        height: 75vh;
    }
}

@media screen and (min-height: 1200px) {
    .content {
      height: 80vh;
    }
  }
    /* 
    @media screen and (max-height: 400px) {
        .content {
        height: 50vh;
        }
    } */