h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 0;

}

h1 button {
  background-color: transparent;
  border: none;
}

.indexButton { 
  transition: all .2s ease-in-out; 
}
.indexButton:hover { 
  transform: scale(1.2); 
  filter: drop-shadow(12px 12px 3px #fff);
}

h1 img{
  margin: 0 auto;
  max-width: 500px;
  padding: 0;
}

h2 {
  font-weight: 400;
  margin: .5rem auto;
}

.generation {
  margin: 1rem auto 2rem;
  text-align: center;
}

.pokemons {
  position: relative;
  left: -1.5rem;
  justify-content: center;
  max-width: 55vw;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto 5rem;
}

.pokemon {
  width: 220px;
  margin: 0.3rem;
  padding: 0.7rem 0.7rem 0.3rem 1rem;
  border-radius: 1rem;
  color: #fff;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px #000)
}

.pokemon .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon .name {
  font-size: 1.125rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-shadow: 2px 4px 8px #000;
}

.pokemon .number {
  font-size: 0.875rem;
  color: #000;
  opacity: 0.25;
  font-weight: bold;
}

.pokemon .details {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.pokemon .details .types {
  margin: 0.4rem 0 0;
  padding: 0;
  list-style: none;
}

.pokemon .details .types .type {
  width: 55px;
  margin: 0.3rem 0;
  padding: 0.1rem 0.3rem;
  filter: brightness(1.15) drop-shadow(1px 2px 0px #fff);
  border-radius: 1px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 1.5px 3px 6px #000;
}

.pokemon .details .sprite {
  position: relative;
  max-width: 100%;
  height: 95px;
  align-self: flex-end;
  filter: drop-shadow(3px 6px 0px #000);
  margin-left: auto;
  z-index: 1;
}

.pokemon .pokeball {
  max-width: 150px;
  position: absolute;
  right: -40px;
  top: 10px;
  opacity: 0.5;
  filter: invert(1);
  width: 100%;
  z-index: -1;
  size: 80%;
}

.button {
  display: flex;
}


#loadMore {
  position: relative;
  bottom: 3rem;
  padding: 5rem;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
}

.gotta-catch-em-all {
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 400px;
}

.gotta-catch-em-all { 
  transition: all .2s ease-in-out; 
}
.gotta-catch-em-all:hover { 
  transform: scale(1.2); 
  filter: drop-shadow(12px 12px 3px #000);
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media screen and (min-width: 650px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1800px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2100px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
