.bug {
    background-color: #8BD674;
  }
  
  .dark {
    background-color: #6F6E78;
  }
  
  .dragon {
    background-color: #7383B9;
  }
  
  .electric {
    background-color: #FECE4B;
  }
  
  .fairy {
    background-color: #EBA8C3;
  }
  
  .fighting {
    background-color: #EB4971;
  }
  
  .fire {
    background-color: #fb6c6c;
  }
  
  .flying {
    background-color: #83A2E3;
  }
  
  .ghost {
    background-color: #8571BE;
  }
  
  .grass {
    background-color: #48d0b0;
  }
  
  .ground {
    background-color: #CA8078;
  }
  
  .ice {
    background-color: #91D8DF;
  }
  
  .normal {
    background-color: #B5B9C4;
  }
  
  .poison {
    background-color: #9E5BBB;
  }
  
  .psychic {
    background-color: #9F6E97;
  }
  
  .rock {
    background-color: #D4C294;
  }
  
  .steel {
    background-color: #4C91B2;
  }
  
  .water {
    background-color: #59A8F6;
  }