.pokemons {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  width: 220px;
  margin: 0.2rem;
  padding: 0.7rem 0.7rem 0.3rem 1rem;
  border-radius: 1rem;
  background-color: #49d0b0;
  color: white;
}

.pokemon .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon .name {
  font-size: 1.125rem;
  font-weight: bold;
}

.pokemon .number {
  font-size: 0.875rem;
  color: #000;
  opacity: 0.25;
}

.pokemon .details {
  display: flex;
  justify-content: space-between;
}

.pokemon .details .types {
  margin: 0.2rem 0 0;
  padding: 0;
  list-style: none;
}

.pokemon .details .types .type {
  width: 150px;
  margin: 0.125rem 0;
  padding: 0.1rem 0.3rem;
  background-color: #60e0cb;
  border-radius: 1px;
  text-align: center;
  font-size: 0.725rem;
  border-radius: 1rem;
}

.pokemon .details img {
  max-width: 100%;
  height: 95px;
  align-self: flex-end;
  filter: drop-shadow(6px 12px 15px black);
  margin-left: auto;
}

@media screen and (min-width: 384px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
  .pokemon {
    width: 170px;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
